@size  : 16px;
@pad   : 4px;
@color1: #2196F3;
@color2: hsl(0, 90%, 54%);

.slider {
    display           : block;
    position          : relative;
    cursor            : pointer;
    background-color  : @color1;
    -webkit-transition: all .4s ease;
    transition        : all .4s ease;
    border-radius     : 34px;
}

.slider:before {
    border-radius: 50%;
}

.slider-text {
    display: block;
}

.slider:before {
    position          : absolute;
    content           : "";
    height            : @size;
    width             : @size;
    left              : @pad;
    bottom            : @pad;
    background-color  : white;
    -webkit-transition: all .4s ease;
    transition        : all .4s ease;
}

input:checked+.slider {
    background-color: @color2;
}

input:checked+.slider:before {
    left: calc(100% - @size - @pad);
}