.bar {
    opacity: 0.5;
}

.color-1 {
    fill: hsl(0, 40%, 60%);
}

.color-2 {
    fill: hsl(240, 40%, 60%);
}

.bar:hover {
    opacity: 1;
}

svg {
    background-color: #efefef;
}

.d3-tip {
    padding       : 8px 12px;
    background    : rgba(0, 0, 0, 0.8);
    color         : #fff;
    border-radius : 4px;
    pointer-events: none;
    text-align    : center;
    line-height   : 1.3em;
}

.d3-tip:after {
    box-sizing    : border-box;
    display       : inline;
    font-size     : 10px;
    width         : 100%;
    line-height   : 1;
    color         : rgba(0, 0, 0, 0.8);
    position      : absolute;
    pointer-events: none;
    content       : "\25BC";
    margin        : -1px 0 0 0;
    top           : calc(100% - 1px);
    left          : 0;
    text-align    : center;
}